@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<h2>User Claim Data : </h2>
<h4>
    @ViewData["ClaimData"]
</h4>
<h4>Claim Count: @ViewData["ClaimCounter"]</h4>
<h3>UserFromIdentity: @User.Identity.Name</h3>
<h3>Sid is : @ViewData["Sid"]</h3>
<h4>Name is : @ViewData["Name"]</h4>
<h4>Userdata is : @ViewData["UserData"]</h4>